
#clock {
    font-size: 72px; 
    font-weight: bold;
    margin-bottom: 20px;
}

#login-form {
    height: 36px;

}

.input {
    font-size: 20px;
    text-align: center;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    /* letter-spacing: .1em; */
    margin-right: 1em;
}
.input::placeholder {
    color: #fff;
    font-size: 16px;
}

.input:focus::placeholder {
    color: transparent;
}

.btn-login {
    width: 4em;
    height: 2em;
    font-size: 18px;
    border: none;
    border-radius: 1em;
    background : linear-gradient();
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-login:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

#greeting {
    font-size: 20px;
    color: #fff;
}

.greeting-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 6px;
    text-align:center;
    border-radius: 1em;
    width: 15em;
    height: 2em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

}



#quote {
    position: absolute;
    color: #fff;
    bottom: 10%;
    left: 20px;
    /* transition: all 0.5s;
    transition-timing-function: ease; */
}
